<!DOCTYPE html>
<html lang="jp" ng-app>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= content_for?(:title) ? yield(:title) : "Slide Train" %></title>
	<!-- Bootstrap -->
	<link rel="apple-touch-icon" href="img/appleTouchIcon.png" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no"><!-- 数字を勝手に電話番号と判断しない -->
	<meta property="fb:app_id" content="xxxxxxxxxxxxx" />
	<!--[if lt IE 9] >
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif] -->

	<link href="img/favicon.ico" type="image/x-icon" rel="icon" />
	<link href="img/favicon.ico" type="image/x-icon" rel="shortcut icon" />

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Slide Train" %>">
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
	</head>
	<body>
		<div id="header" class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a href="/"><img src="img/logo.png" class="brand" style="width: 20px;" alt="" /></a>
					<a href="/" class="brand">Slide Train</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li class="none"><a href="/users/setting/" style="display:inline;"><button class="btn" onClick="location.href='/users/setting/'"><i class="icon-cog"></i></button></a></li>
							<li class="none"><a href="/users/logout/" style="display:inline;"><button class="btn" onClick="location.href='/users/logout/'"><i class="icon-off"></i> Logout</button></a></li>
							<li class="none"><a href="/users/registerSendMail/" style="display:inline;"><button class="btn" onClick="location.href='/users/registerSendMail/'"><i class="icon-user"></i> 新規登録</button></a></li>
							<li class="none"><a href="/users/login/" style="display:inline;"><button class="btn" onClick="location.href='/users/login/'"><i class="icon-ok-sign"></i> Login</button></a></li>
						</ul>
					</div><!--/.nav-collapse -->

				</div>
			</div>
		</div>
		<div class="container mt20">
			<div class="row">
				<div class="span8" id="main">
                  <%= yield %>
				</div>
				<div class="span4" id="side">
					<p>dev menu</p>
                    <button class="btn btn-danger" id="clearLocalStorage">ローカルストレージ削除</button>
				</div>
			</div>
			<div id="hooter" class="row">
				<div class="span12">
					<a href="">about us</a>
				</div>
			</div>
		</div>
	</body>
</html>
